[2016-01-10 08:33] jvsg opened #7 "App doesnt work when given a name with special characters"
1. When given a name with slash in between, The app keeps loading on forever
2. When given a name with # in between , the app only considers the letters before # for checking the    availability.
3. Some sites do not allow the names with special characters. So appropriate arrangement should be made within the software.

[2016-01-10 12:29] Manu-chroma commented on #7
1. '/' and '#' are not permitted character in the username. I'll take care of them and other such characters in the js code.

2. Reg your 3rd issue, yes the API technically doesn't acknowledge individual username restrictions of each of the website. I'll see if there can be any workaround for that instead of brute forcing logic for every website.

[2016-01-14 18:55] gyanl opened #8 "Optimise for mobile"
Currently it's pretty bad on mobile.

[2016-01-14 18:57] gyanl opened #9 "Figure out a grid view for services"
The info can easily be a single screen, right now you have to scroll down to see the last two or so.

[2016-01-14 18:58] gyanl commented on #7
Perform a sanity check on the data when it's entered, and show an error if there's a special character in there?

[2016-05-10 10:27] manu-chroma commented on #8
Much better optimized for mobile now. Can close this after the card implementation of the second page.

[2016-05-10 10:30] manu-chroma opened #11 "Add regex support for individual websites"
It shows not available for usernames which might not be possible to even create due to that particular websites limitations for username.

Add **not possible** for such usernames.

Can be fixed using regex for each website.

[2016-05-11 08:02] gyanl commented on #8
I think it's actually pretty decent on mobile now - cards not really necessary since they'll just add padding and you'll have to scroll more to see everything.

[2016-05-11 08:31] manu-chroma commented on #8
Closing it then.

[2016-05-11 08:31] #8 closed

[2016-05-31 10:22] manu-chroma commented on #9
Still needed ?

[2017-07-25 03:34] jayvdb opened #15 "Add raml support"

[2017-07-25 03:35] jayvdb commented on #11
See https://github.com/WebBreacher/WhatsMyName

[2017-10-07 00:06] Asuza commented on #7
I would like to work on this issue, if possible.

Though, does it still work as expected, when *not* using a special character? For example, visiting https://username-availabilty.herokuapp.com/check/twitter.com/bobsaget returns a 200 status code.

A 200 status code means the name is available, right? Though [bobsaget](https://twitter.com/bobsaget) is definitely taken.

[2017-10-09 06:25] manu-chroma commented on #7
@Asuza This is the code from the final page which is rendered: https://github.com/manu-chroma/username-availability-checker/blob/master/flask/templates/world.html#L29

Should make things clearer. :) You're welcome to work on this issue

[2017-10-13 15:54] #7 closed

[2017-11-29 07:40] jayvdb opened #17 "pinterest.com is reporting taken for usernames which are not taken"

[2017-12-09 21:14] manu-chroma commented on #17
Unfortunately, HTTP code is 200 for both url having taken/available usernames.
[code]

I'm implementing a hacky solution for the time being and should fix the issue for now.

[2017-12-09 21:23] manu-chroma commented on #17
Changes should reflect on the website now. Also, there is improvement in the front end too as well as basic regex in the input filed on webpage.

[2017-12-09 21:40] manu-chroma commented on #17
@jayvdb which one is more fault tolerant in your opinion?

``len(res.history) > 0`` or  ``bytes(username, encoding='utf-8') in res.content``

[2017-12-10 03:04] jayvdb commented on #17
I think `bytes(username, encoding='utf-8') in res.content` is the more stable & re-usable algorithm.

[2017-12-10 03:06] jayvdb opened #19 "Click on Taken usernames to visit the user"
It would be helpful to be able to click on the Taken username to visit the profile.

A user may want to check if they have already acquired the username, or did someone else acquire it.

[2017-12-10 06:42] #9 closed

[2017-12-10 07:11] manu-chroma commented on #17
Addressed in: https://github.com/manu-chroma/username-availability-checker/commit/0acde56bf11e28326f1a4a6e3e8e40493c448e99

Closing.

[2017-12-10 07:11] #17 closed

[2017-12-10 07:16] manu-chroma opened #20 "Unreliable results for facebook.com"
If a user has set his/her profile as not visible to search engines, then it will return 404 page when accessing the profile without logging into facebook.

Very few profiles fall into this case judging by the small sample of profiles I was testing on.
But still makes results unreliable, disabling facebook check for now.

![image](https://user-images.githubusercontent.com/12952080/33802879-fd41b538

[2017-12-10 10:11] #19 closed

[2017-12-10 10:15] manu-chroma commented on #19
Done and deployed.

[2017-12-10 11:41] manu-chroma commented on #19
Meaningful addition. Thanks for the idea!

[2017-12-10 12:46] manu-chroma opened #21 "Add tooltip when cursor hovers over the website icon"
For people who might not be aware with the website icon can simply find it's name by hovering over the icon. Implement a tooltip for the same.

Something like this: https://www.w3schools.com/css/css_tooltip.asp

[2017-12-12 11:56] jayvdb opened #22 "Support GET"
Something like https://username-check.herokuapp.com/?username=jayvdb123 should work

[2017-12-12 11:59] jayvdb commented on #20
I suggest you try mobile; that often works when the normal website does not.

[2017-12-12 18:23] manu-chroma commented on #22
Check: https://github.com/manu-chroma/username-availability-checker/blob/master/frontend.py#L11

[2017-12-13 13:37] jayvdb commented on #22
This task is assigned to @seeeturtle

[2017-12-14 14:05] #22 closed

[2017-12-15 10:08] manu-chroma opened #24 "Add support for OpenHub and DeviantArt"
OpenHub: ``https://www.openhub.net/accounts/<username>``
Devianart: ``https://<username>.deviantart.com/``

See:
- https://github.com/manu-chroma/username-availability-checker/blob/master/username_api.py
- https://github.com/manu-chroma/username-availability-checker/blob/master/templates/status.html

[2017-12-15 10:14] manu-chroma commented on #11
Ideally, I'd like to add regex check for individual websites in: https://github.com/manu-chroma/username-availability-checker/blob/master/username_api.py

There is a very rudimentary check implemented in the frontend at: https://github.com/manu-chroma/username-availability-checker/blob/master/templates/form.html#L36

[2017-12-15 10:15] manu-chroma commented on #11
@jayvdb I don't think their json data contains anything related to regex.

[2017-12-15 10:17] manu-chroma opened #25 "Add a base file for supporting WhatsMyName"
Data at: https://github.com/WebBreacher/WhatsMyName/blob/master/web_accounts_list.json

See: https://github.com/WebBreacher/WhatsMyName/blob/master/web_accounts_list_checker.py

[2017-12-15 10:18] manu-chroma commented on #11
Task claimed by @andrewda

[2017-12-15 10:22] manu-chroma opened #26 "Add .coafile"
Now that we're bringing in more contributors, add a ``.coafile`` having PyFlakesBear and other useful bears.

[2017-12-16 03:54] jayvdb commented on #11
@manu-chroma , a username patter could be added to https://github.com/WebBreacher/WhatsMyName/blob/master/web_accounts_list.json .  They also need it, for the same reason this project needs it.

Their dataset contains everything that this project supports, except GitLab, which should be very easy to solve.

[2017-12-16 05:23] manu-chroma commented on #21
assigned to @seeeturtle

[2017-12-16 06:15] jayvdb commented on #11
https://github.com/manu-chroma/username-availability-checker/issues/25 was spawned from here

[2017-12-16 12:24] #21 closed

[2017-12-16 12:50] manu-chroma opened #30 "setup .env file to differentiate between dev and prod env"
To differentiate between the production and dev environment, create an ``.env`` file containing the following:  ``host_frontend``, ``port_frontend``, ``host_backend``, ``port_backend``  and use them when running flask servers.

Eg: When testing changes, we need to change the url at: https://github.com/manu-chroma/username-availability-checker/blob/master/templates/status.html#L28 to ``<host_backen

[2017-12-17 12:00] jayvdb opened #31 "Add Travis testing using pytest"
Run tests to confirm that the algorithms used produce correct results for existing known usernames and non-existing (but valid usernames).

The usernames for each case need to be stored in a test data file.

If the known non-existent username becomes existent according to the algorithm, it may mean the username has become taken, or the algorithm used has become invalid.
Include a basic random nons

[2017-12-17 12:05] manu-chroma commented on #31
We should have async requests in tests to speed up checking, otherwise tests will be slow and non-scalable.

[2017-12-17 12:25] manu-chroma commented on #25
- For this, I'm thinking we download the json data ``https://raw.githubusercontent.com/WebBreacher/WhatsMyName/master/web_accounts_list.json`` and write our logic to process the data. We can have a check to re-download this file from time to time.

- Also, maintain our own separate data (minimal mostly) and create push changes upstream from time to time.

[2017-12-17 12:41] jayvdb commented on #25
Ya, I think having our own tested data is a better option, which is why I created the testing issue.

We can add more value that way.

[2017-12-17 12:45] manu-chroma commented on #25
And use their data as fallback. I'm thinking of exporting our data in similar json format.

[2017-12-17 12:47] manu-chroma commented on #25
Also, judging by their commit history, I don't think their data is as updated as we would like it to be.

[2017-12-17 13:58] #11 closed

[2017-12-17 18:46] manu-chroma commented on #31
@jayvdb just a wild idea, would it make sense to write username tests in js, given how easy it would be to make async calls and assert accordingly?

I think it would become overly complex and cumbersome when coming to python

[2017-12-17 18:46] manu-chroma commented on #31
also, this issue is assigned to @andrewda

[2017-12-17 19:06] andrewda commented on #31
Just wrote about 3-4 tests for each platform and it takes less than 8 seconds for all of them to pass. Async requests probably aren't necessary.

[2017-12-17 19:13] manu-chroma commented on #31
Interesting. Feel free to create a [WIP] PR
We can discuss more tomorrow.

[2017-12-18 10:55] jayvdb opened #33 "Add username rule: GitHub can not start or end with a hyphen"
https://www.npmjs.com/package/github-username-regex

[2017-12-18 11:22] #31 closed

[2017-12-19 02:04] jayvdb opened #35 "Fetch avatar URLs from each website"
Most of the websites have some sort of avatar which can be obtained and included in the results for 'Taken' names.

This will help to see whether a username has a consistent avatar across various platforms, which can be used as a proxy to guess that they are taken by the same person.

[2017-12-19 02:16] jayvdb opened #36 "Add more test parameterisation"
https://github.com/manu-chroma/username-availability-checker/pull/32 added pytest , however the test module still has lots of duplicated logic.

There are many advanced [pytest data plugins](https://pypi.python.org/pypi?%3Aaction=search&term=pytest+data&submit=search) which allow more data parameterisation that the core pytest plugins.

Implement one which removes the duplication in the test modul

[2017-12-19 02:23] jayvdb opened #37 "Add Gravatar support"
Gravatar supports profile usernames.

[2017-12-19 02:41] jayvdb commented on #36
... which would have prevented copy/paste errors like https://github.com/manu-chroma/username-availability-checker/pull/34#discussion_r157597839 ;-)

[2017-12-19 03:07] jayvdb opened #38 "Mention Python 2 vs 3 support on README.md"
https://github.com/manu-chroma/username-availability-checker/blob/master/.travis.yml#L3 specifies Python 3.6 for tests, and the tests pass.

Enable Travis on fork and add 2.7 to the list of platforms tested on .travis.yml.

Talk with your mentor about any test errors encountered.  Maybe only minor fixes are needed to support Python 2.7

If Python 2.7 works correctly, add a note on README.md that b

[2017-12-19 04:37] manu-chroma commented on #35
``meta  property="og:image"`` contains image url at a lot of times. check that out

[2017-12-19 04:38] jayvdb opened #39 "Add support for openSUSE"
URL: `https://connect.opensuse.org/pg/profile/{username}`

[2017-12-19 04:39] jayvdb opened #40 "Add support for Wikimedia"
URL: `http://meta.wikimedia.org/wiki/Special:CentralAuth/{username}`

[2017-12-19 05:00] jayvdb commented on #35
Should we make this a backend only task to begin with?
Then you can think about the UI a bit, and then create another task to do the UI?

[2017-12-19 05:08] manu-chroma commented on #35
Yes, that's what I had in mind.
Backend will start passing avatar links and then we can figure out the frontend part

[2017-12-20 10:12] nalinbhardwaj commented on #35
Is there a reason to rely on metadata only? Why not add proper image fetching for valid usernames as link templates to [websites.yml](https://github.com/manu-chroma/username-availability-checker/blob/master/websites.yml)(and use it)

[2017-12-20 11:23] manu-chroma commented on #35
@nalinbhardwaj they're not available for all websites, but yes if we can get them, they're a better option to handle image fetch.

Apart from this, in case of fb, we'll have to extract ``userid`` from the profile source anyways to use this url.

[2017-12-20 11:43] #26 closed

[2017-12-20 16:09] #20 closed

[2017-12-20 16:22] manu-chroma commented on #35
Might be helpful: ``https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/summary``

[2017-12-21 08:46] seeeturtle commented on #24
please assign me

[2017-12-21 08:51] manu-chroma commented on #24
@seeeturtle is working on this task now

[2017-12-21 13:30] jayvdb commented on #39
note there is also `https://build.opensuse.org/user/show/{username}` , and I believe they are not completely linked.  it is possible to have one and not the other.  I dont know all of the details.

[2017-12-21 17:46] jayvdb commented on #36
The infrastructure was already added in #42, so this is now a moderately easy task, of re-applying the same approaches used there.

[2017-12-21 19:01] #35 closed

[2017-12-22 04:09] jayvdb opened #44 "Display avatars"
https://github.com/manu-chroma/username-availability-checker/issues/35 added avatars to the backend.

We now need to display them.  Some UI design needs to be done first.

[2017-12-22 12:21] manu-chroma commented on #44
So now that we're getting link to the profile picture, we can have two options for design:

1. Divide ``status.html`` into three rows:
	- Taken (with profile pic)
	- Taken (with no profile pic) eg: Behnance
	- Available user

2. Merge Taken (with/without profile pic) into one section and have dummy profile avatars in place for the design to look more consistent

[2017-12-22 12:22] manu-chroma commented on #44
@jayvdb, I'm assigning it to the guy who originally did the frontend part of the website. He'll do a much better job than I can :sweat_smile:

[2017-12-23 06:21] seeeturtle commented on #37
this issue is related with getting profile image of openhub since it set profile image as gravatar.

[2017-12-23 08:45] seeeturtle commented on #36
can you assign me here?

[2017-12-23 09:39] manu-chroma commented on #36
assigned to @seeeturtle

Make sure to get your other PR merged soon.

[2017-12-23 13:23] #24 closed

[2017-12-25 07:37] jayvdb opened #47 "Improve random username generator to obey the website rules"
The random username generator currently is very basic.
Since it has been created, we have created username rules in the websites.yaml , which should be adhered to by the generator.  That includes lengths, and also the rules excluding adhoc patterns, which includes patterns about the first letter.

[2017-12-25 13:39] jayvdb commented on #47
To make this testable also, as a consequence of the fact we will soon have generated test cases, we can generate usernames for upper and lower limits, and there is also scope for possibly verifying that upper+1 fails and lower-1 fails, and marking such failure as a successful test.

[2017-12-26 08:11] #36 closed

[2017-12-26 18:03] blazeu opened #50 "Display logo and website name for each website"
Currently it is not clear which website is which ..

![image](https://user-images.githubusercontent.com/1438859/34361961-b0ce1334-eaa1-11e7-9734-a9ec66485317.png)

[2017-12-26 18:23] manu-chroma commented on #50
https://username-check.herokuapp.com/?username=blazeu

Logos and website name(tooltip) work totally fine for me. Can you check your console for errors?

[2017-12-27 09:45] blazeu commented on #50
`GET https://use.fontawesome.com/538119ba0a.js net::ERR_NAME_NOT_RESOLVED`

Yup, the error seems to come from me ([and everyone?](http://downforeveryoneorjustme.com/use.fontawesome.com))

[2017-12-27 09:46] #50 closed

[2017-12-27 10:20] manu-chroma commented on #50
``https://use.fontawesome.com/538119ba0a.js`` works for me

[2017-12-27 13:11] #39 closed

[2017-12-27 14:57] manu-chroma opened #51 "Add support for asciinema"
URL: ``https://asciinema.org/~{username}``

[2017-12-27 15:00] manu-chroma opened #52 "Use websites.yml to determine supported websites list"
Make changes in:
- ``status.html``
- ``cli.py`` (``cli.py`` is broken, make a separate commit to fix it)

This will ensure, that a generic website can be added by just updating the data file (in case it is not a special case like facebook etc.)

[2017-12-27 15:02] manu-chroma opened #53 "Integrate avatar for taken websites in the frontend"

[2017-12-29 11:25] manu-chroma opened #58 "Add support for medium"
URL: ``https://medium.com/@<username>``

[2018-01-02 05:31] jayvdb opened #60 "Intermittent travis failure"
https://travis-ci.org/manu-chroma/username-availability-checker/builds/324013813#L649

[2018-01-02 09:21] duttaditya18 opened #61 "Allow users to check availability directly from the URL"
**Example :**
If someone goes to `https://username-check.herokuapp.com/username`. It should directly check for `username`'s availability.

[2018-01-02 09:35] manu-chroma commented on #61
This query string works: ``https://username-check.herokuapp.com/?username=<username>``

But I agree we can have a more user friendly route for checking.

[2018-01-02 09:35] #52 closed

[2018-01-02 10:10] duttaditya18 commented on #61
@manu-chroma That query string can be used to generate a JSON.

[2018-01-02 10:16] manu-chroma commented on #61
@duttaditya18 I don't understand what you by that

[2018-01-02 10:17] duttaditya18 commented on #61
@manu-chroma I mean we can generate a JSON for each query.

[2018-01-02 10:47] manu-chroma commented on #61
This is what we do atm: https://github.com/manu-chroma/username-availability-checker/blob/master/frontend.py#L18

Adding ``https://username-check.herokuapp.com/username`` route should be trivial task here.

[2018-01-03 05:03] manu-chroma opened #62 "Add avatar for openSUSE"
Relavent files to make changes to:
- websites.yml
- username_api.py
- avatar testing

[2018-01-03 05:04] manu-chroma opened #63 "Add avatar support for OpenHub"
Relavent files to make changes to:
- websites.yml
- username_api.py
- avatar testing

[2018-01-03 09:59] seeeturtle commented on #63
@manu-chroma openhub always set avatar image as gravatar.

[2018-01-03 14:01] #47 closed

[2018-01-05 21:42] pavi2410 commented on #37
I can do this. I claimed this task on GCI.

[2018-01-06 00:45] jayvdb commented on #37
@pavi2410 , great, come onto https://coala.zulipchat.com/#narrow/stream/gci/subject/username-availability if you need a hand

[2018-01-06 23:32] pavi2410 commented on #37
Isn't there any problem if I parse the user page to get avatar image?

[2018-01-07 02:45] jayvdb commented on #37
It is ok if you parse the page to get the avatar, but isnt ideal.
Ideally we use the gravatar API, but that can be done in a different task.
See [pypi](https://pypi.python.org/pypi?%3Aaction=search&term=gravatar&submit=search) for some packages which may help.

[2018-01-07 08:01] #30 closed

[2018-01-07 08:01] #51 closed

[2018-01-07 13:18] jayvdb opened #66 "OpenHub site error is detected as taken"
https://www.openhub.net/accounts/45345345 currently responds with "The Black Duck Open Hub is currently offline"

This actually happens quite a bit, so we should have a way to detect and inform the user that OpenHub cant be checked at the moment.

[2018-01-07 13:45] seeeturtle commented on #66
@jayvdb, there was similar thing with connect.opensuse.org. We should add some code that check if website is unable to use. for example, if taken username is available then the website is unable to use.

[2018-01-07 13:57] jayvdb commented on #66
Very interesting idea.

[2018-01-07 14:09] manu-chroma commented on #66
+1 for this idea and easy to implement too.

[2018-01-07 14:10] seeeturtle commented on #66
travis build: https://travis-ci.org/manu-chroma/username-availability-checker/builds/325793324
this was a build while connect.opensuse.org was down

[2018-01-07 14:13] manu-chroma commented on #66
when any website goes down unexpectedly, we have error handling for that at https://github.com/manu-chroma/username-availability-checker/blob/master/templates/status.html#L46

[2018-01-07 14:16] seeeturtle commented on #66
not working for websites that reponse 200 even website is down

[2018-01-07 14:17] seeeturtle commented on #66
@jayvdb, can you rename the issue?

[2018-01-07 14:17] seeeturtle commented on #66
@jayvdb, can you rename the issue?

[2018-01-09 11:26] manu-chroma opened #67 "Gitlab username check bug"
For ``gitlab`` we checking for username bytes inside the ``response.content`` from the following url: ``gitlab.com/<username>``

when testing these two urls:
- http://username-check.herokuapp.com/?username=Rohanvdhulla
- http://username-check.herokuapp.com/?username=rohanvdhulla

They both point to same username ``Rohanvdhulla`` but the check gives false response in the second case because we're c

[2018-01-09 11:27] manu-chroma commented on #67
originally reported by @Monal5031

[2018-01-09 11:51] manu-chroma opened #69 "add asciinema icon in the frontend"

[2018-01-09 12:05] #69 closed

[2018-01-09 12:05] #67 closed

[2018-01-10 15:43] #60 closed

[2018-01-10 15:44] manu-chroma commented on #44
closing for now, since avatars are now displayed on the frontend.

future work can include improving the UI.

[2018-01-10 15:44] #44 closed

[2018-01-10 15:45] #66 closed

[2018-01-12 06:47] pavi2410 commented on #37
Let's start from first. What should I do?

[2018-01-12 06:54] manu-chroma commented on #37
Check:
https://github.com/manu-chroma/username-availability-checker/pull/72#issuecomment-356487675
https://github.com/manu-chroma/username-availability-checker/pull/72#issue-287167838

you need to fix your commit message and I think we will be able to merge then.

[2018-01-12 07:01] pavi2410 commented on #37
Should I add a method to fetch gravatar image from username? If it succeeds, then return the gravatar image, else scrape the image. But we cannot guarantee that a single person has the same username in different services. For eg, if a person A has username `XYZ` in open hub, but the same username on gravatar is of person B.

[2018-01-12 07:06] manu-chroma commented on #37
what you've done is good to go for now. just fix the commit message to include the issues you addressed. https://github.com/manu-chroma/username-availability-checker/pull/74#issuecomment-357148292

that's is why we won't be doing this. integrating gravatar's from https://en.gravatar.com/ will be considered in a separate issue.

[2018-01-17 12:01] #62 closed

[2018-02-02 06:57] seeeturtle commented on #58
@manu-chroma, it seems medium is using social accounts(google, facebook) for creating new account now.
Should we need to support medium?

[2018-02-02 06:58] seeeturtle commented on #58
Oops, sorry.
I've closed the issue by mistake.

[2018-02-02 11:23] #61 closed

[2018-02-02 17:20] manu-chroma commented on #58
every user still has a username regardless, AFAIK

[2018-02-03 00:00] seeeturtle commented on #58
yeah, you're right.
I've just found that it only allows letter, number, dot(.), and underbar(_).
and possible username length is 1 to 15 for now.
but there is some username that overs this length.
for example, https://medium.com/@aaaaaaaaaaaaaaaa
this has 16 letters.

[2018-02-03 08:45] seeeturtle commented on #58
@manu-chroma, I'm little concerned that it deletes inactive accounts.
What account can we use for `constant_account`?

[2018-02-03 08:49] seeeturtle commented on #58
I'll just use medium staff account (https://medium.com/@MediumStaff).
I hope it's constant account.

[2018-02-03 09:09] seeeturtle opened #75 "Move websites.yaml into python classes"
Even they are attributes of a same website, They are separated from each other.
I think we should make top level class that describes attributes for website,
and make subclasses for each website.

What do you think about this?

[2018-02-03 09:13] manu-chroma commented on #58
that's a good choice

[2018-02-03 09:13] manu-chroma commented on #75
cc: @jayvdb

[2018-02-04 03:36] seeeturtle commented on #63
Closed by https://github.com/manu-chroma/username-availability-checker/commit/663c2c4d659d9e78fbc4cab1f74378fd32e819e5

[2018-02-04 03:36] seeeturtle commented on #63
Closed by https://github.com/manu-chroma/username-availability-checker/commit/663c2c4d659d9e78fbc4cab1f74378fd32e819e5

[2018-02-04 03:36] #63 closed

[2018-02-04 03:49] seeeturtle opened #77 "Add support for smartphones and tablets"
![Screen Shot](https://lh3.googleusercontent.com/3LA6w5C539w5BruhsakBFsZ_Jrbc0SxEcrENhlekQSY34gAx7chZezGLbgSfOVd7MPCnzlxwfAQyHM2-ET6MmzCBVZBDqL7F4jbx=w1366-h667)

This is the screen shot from my ipad mini 1.
As you can see, the website doesn't show anything.
Since most new users will use a smartphone or tablet,
We need to support smartphones and tablets.

[2018-02-04 04:09] seeeturtle commented on #77
I guess it's `onload` attribute issue

[2018-02-04 04:17] seeeturtle commented on #77
I've just found that occurs only at ios 9
usable model:
* Samsung Galaxy S7 edge
* Ipad air 2

[2018-02-28 15:48] #58 closed

[2018-02-28 15:49] seeeturtle commented on #58
https://github.com/manu-chroma/username-availability-checker/commit/b1baf7b9e15a193320febadad93c5c6c12d08e89

[2018-02-28 16:22] seeeturtle opened #79 "Medium test fails because of difference between avatar url"
https://travis-ci.org/manu-chroma/username-availability-checker/builds/347315141?utm_source=github_status&utm_medium=notification

https://travis-ci.org/manu-chroma/username-availability-checker/builds/347339603?utm_source=github_status&utm_medium=notification

From this two builds above, we can know that both fails because of
medium's avatar url difference.
It's curious that one fails and other d

[2018-02-28 16:34] seeeturtle commented on #79
It's really curious that I can't find `miro.medium....` in the [page](https://medium.com/@Medium).
And why doesn't `@MediumStaff` fail?

[2018-02-28 18:45] #33 closed

[2018-02-28 19:07] manu-chroma commented on #79
I think I will be able to find time to debug this one tomorrow

Meanwhile, why don't you try inspect the source you receive from ``res.get`` rather than from the browser source.

[2018-03-01 13:27] seeeturtle commented on #79
I'll try it.

[2018-03-02 06:41] seeeturtle commented on #79
This is tested with python 3.6.3
[code]

It seems it also returns "cdn..." not "miro...".

[2018-03-02 10:28] manu-chroma commented on #79
interesting. I'll also check

[2018-03-18 07:30] manu-chroma commented on #79
This issue doesn't seems to plague travis only.

Here's a build log from codeship: https://app.codeship.com/projects/274884/builds/32516987 and it passes successfully

I also tried locally, and got "cdn.." avatar link in case of both expected_ and actual_ response.
Maybe we can just remove MediumStaff from the test list because that is the only username that fails. All other medium tests work as e

[2018-03-18 07:31] manu-chroma commented on #79
In latest master branch travis rebuild: https://travis-ci.org/manu-chroma/username-availability-checker/builds/343095785, it return None for avatar..

[2018-03-18 11:01] seeeturtle commented on #79
Yeah,  I think that is the only solution we can do for now.
I'll modify it now.

[2018-03-18 11:59] seeeturtle commented on #79
@manu-chroma, Can you test at your local before merging the PR?
It's also None in my local test.
It's not a problem only for Travis

[2018-03-18 12:50] seeeturtle commented on #79
[code]
Test from python 3.6.3

It seems 14 out of 100 are None.
I think this is the reason why the result of CI is irregular

[2018-03-18 12:53] manu-chroma commented on #79
is it just for ``Medium`` and ``MediumStaff`` username or any random username on Medium website?

[2018-03-18 12:55] seeeturtle commented on #79
You can see that it's only for `Medium`. I'll try it for `MediumStaff` too. but it'll take some time

[2018-03-18 12:55] manu-chroma commented on #79
sure! thanks

[2018-03-18 13:01] seeeturtle commented on #79
[code]

[2018-03-20 16:35] jayvdb commented on #75
No.  It is data.  Re-usable across language, and in different domains.

If you want, generate python classes from the data.

[2018-03-20 16:37] jayvdb opened #83 "Add disqus support"
Lots of people have claimed a disqus username which is otherwise used by a developer, because developers often do not use disqus.

[2018-03-20 17:49] manu-chroma opened #84 "improve readme"

[2018-03-21 07:04] seeeturtle commented on #75
got it :)

[2018-03-21 07:04] #75 closed

[2018-03-21 19:38] #84 closed

[2018-03-27 17:01] #79 closed

[2018-03-31 09:35] jayvdb commented on #77
You can use https://saucelabs.com/ to test on many devices.

[2018-03-31 11:43] seeeturtle commented on #77
thanks for advice :)

[2018-04-01 21:14] phunkfoo opened #94 "Instagram check produces a false positive if the user has disabled their profile (but kept the username)"
Hi,

Instagram users can disable (but not delete) their accounts, while still retaining the username. In essence, if an account with the username "xyz" is created and then disabled (but not deleted), the check will show the username "xyz" as available, but the registration process will fail due to it already being in use.

Regards,
M

[2018-04-01 21:18] phunkfoo commented on #94
Not entirely sure what the fix for this would be, as a disabled account and non existent account produce the same "error" (html response). The username check could attempt to populate the registration form, which does an async check for username availability (it would have to pickup on the "x" css element).

Regards,
M

[2018-04-04 07:04] seeeturtle opened #95 "Use the website's api if it exists"
Since we need constant result from the website,
the best way is to use api.
At least there will be less unexpected reault than scraping directly from website.

We may use raml file to store the way to approach to the resource.

How do you think?

[2018-04-04 07:10] seeeturtle commented on #94
@phunkfoo, is the problem only occurs from Instagram?

btw, it's quite weird that they don't remove the account actually...

[2018-04-07 09:28] phunkfoo commented on #94
@seeeturtle yes, only for instagram, as far as I can tell. I only noticed the behaviour described after I searched for a username I have - but have deactivated.

Regards,
M

[2018-04-07 09:43] seeeturtle commented on #94
@phunkfoo , can you tell me a username that has the problem?

[2018-04-07 09:49] phunkfoo commented on #94
@seeeturtle search for "phunkfoo" on the app. The IG bit says it's available. Then try to register it under a new account and IG will tell you the username is taken). Issue here happens because:

https://www.instagram.com/phunkfoo/ (user is attached to a registered account that's been deactivated); and
https://www.instagram.com/thisisnotarealusernameaslkdjasldjalksdjlaksjd/ (random user that does

[2018-04-08 15:09] seeeturtle commented on #94
I found that the instagram check the username by using the graph api.
I think it's hard to use input form only using requests and bs4. (selenium is a another choice)

Maybe we can just tell the users to notice that it may be wrong.

@jayvdb, @manu-chroma , how do you think?

[2018-04-15 12:47] jayvdb opened #97 "Add keybase.io"
http://keybase.io provides verified links to other identities, so it is a good account to have registered early.

[2018-04-15 12:49] jayvdb commented on #83
Still needed.  Can be labeled stale, and help-wanted, etc, to bring in new contributors with new ideas on how to solve complex problems.

[2018-04-15 13:29] seeeturtle commented on #83
ok, labeling stale makes sense

[2018-04-15 15:58] manu-chroma commented on #97
maybe we can use api in this case, since no key is required and looks straight forward to use
API lookup: https://keybase.io/docs/api/1.0/call/user/lookup
Eg: https://keybase.io/_/api/1.0/user/lookup.json?usernames=jayvdb

[2018-05-03 13:55] abhishekmadhu commented on #83
Hello Sirs,

**tl;dr  : NEED HELP sending POST requests to Disqus API**

I have been interested in this project for some time.
I looked into the Disqus API Documentation and couldn't find anything useful.

What I found to be noteworthy is:
* We need to send a **POST** request to their API with an API key.

Now, Sirs, I'm new to this domain, and I really want to contribute something to this project

[2018-05-03 13:59] seeeturtle commented on #83
Hello @abhishekmadhu.
The problem was that disqus refuses `requests`'s user-agent.
you can simply know that with the code below:
[code]

[2018-05-29 08:29] jayvdb opened #101 "Fix docstrings to follow pep257"
And use pydocstyle (or the coala bear) to verify docstrings are compliant.

[2018-06-06 07:58] jayvdb commented on #101
The PR used two different styles, and majority of the docstrings now use a style not supported by coala's QuoteBear.  Oddly, @seeeturtle knew it was unsupported.  https://github.com/coala/coala-bears/issues/1104

The docstrings should use the currently existing style.

[2018-06-06 08:28] jayvdb commented on #101
So it turns out QuotesBear is disabled for multiline strings, so both styles are usable, however ...

The style for single line docstrings still needs to be established.

`"""Do stuff."""` isnt possible.

I think this is extremely ugly, and probably violates pep257:
[code]

And the following looks ok when only single line are considered.
[code]

But to retain consistency, multi-line *must* follow

[2018-06-06 08:38] jayvdb commented on #101
Note that this style also means the first line looses three characters, and every character lost is painful when trying to write good function descriptions.

[code]

[2018-06-09 13:12] #97 closed

[2018-06-09 13:21] manu-chroma opened #104 "unify frontend and backend server files"
Creating separate files for serving frontend templates and separate backend server file was an inital design decision with no strong consideration apart from being easy to reason about as a beginner python programmer myself.

This decision has potential drawback such as I need to deploy two separate projects on heroku since free tier does not support more than one running proces. Thus it makes sen

[2018-06-10 19:08] jayvdb commented on #104
Will existing api users be broken?

Other than that, i dont see reason to not unify.

The unified app could be run in api-only mode by adding a command line flag, if anyone really needed that.

[2018-09-23 12:08] bcoles opened #106 "KeyError: 'status'"
Ran into this issue, with a few different usernames, on different sites.

[code]

[2018-09-23 14:11] seeeturtle commented on #106
Does it occurs also for username_api.py?
And what website are having problem with?

2018. 9. 23. 오후 9:08 Brendan Coles <notifications@github.com> 작성:

[2018-09-23 14:37] bcoles commented on #106
@seeeturtle Presumably an issue with the `instagram` check. I haven't tried with `username_api.py`

[2018-10-21 10:09] seeeturtle opened #107 "Get websites data as argument"
As there was a problem unable to customize file path and content in #105, I think getting websites data as argument instead of global variable makes sense.

[2018-10-27 02:04] kx-chen opened #110 "Get website icon class externally"
Instead of having a preset icon class name, allow the user to configure the icon class name.

[2018-10-27 18:33] jayvdb opened #111 "Add username generator"
A library + CLI

https://github.com/awesmubarak/username_generator_cli

Two good tools, but not a library

https://github.com/dorzel/username-generator
https://github.com/vardrop/gen-pkmn-name

Two online tools which could be used for UI ideas.

- [LassPass](https://www.lastpass.com/username-generator) (choose "easy to read"!), or
- https://username-generator.appspot.com/ (https://github.com/Purpl

[2018-10-27 18:37] jayvdb opened #112 "Add domain name availability"
Most unique name checkers also check against domain names, as this is actually the reason they provide the tool -- they want to sell domain names.

So this feature is a bit controversial, but it is potentially useful.

e.g. http://www.usernique.com/ sort of provides it (hit refresh to get new usernames)

I think the UI design needs to be discussed before this is implemented, so it doesnt 'look' li

[2018-10-27 18:45] jayvdb opened #113 "Detect real names"
Add an alert whenever the user tries to do a lookup on a 'username' which is detected to be probably a real persons name.

Possibly disable the availability check, and suggest ways they can make their username more unique.

[2018-10-27 18:46] jayvdb commented on #113
https://uinames.com/ has some useful concepts which may help with the UI of this.

[2018-10-27 22:23] kx-chen opened #115 "Upgrade to Font Awesome 5"
Currently, the project uses an older version of Font Awesome. Font Awesome 5 includes new icons for each website, as well as an icon for keybase (which the old version did not have). It's only a matter of changing a tag in the template html and the class names of the icons.

Details here: https://fontawesome.com/

Seems like it could be a 'low' difficulty GCI task.  (if this does get accepted as a

[2018-10-28 00:18] seeeturtle commented on #112
Why don't we just remove the link to buy the domain?

2018. 10. 28. 오전 3:37 John Vandenberg <notifications@github.com> 작성:

[2018-10-28 01:04] jayvdb opened #116 "Remove unnecessary quotes from websites.yml"
This repository has a websites.yml , which has quite a few unnecessary quotes in it.

Where quotes are necessary, they should be `'` single quotes, not double quotes.

To do this task, install pip package [yamllint](https://pypi.org/project/yamllint/) , and run it on the websites.yml file after you have made changes so it can verify your yaml is still valid yaml.

[2018-10-28 03:18] seeeturtle opened #117 "Declare logo in websites.yml"
In #114 , the logo file of keybase is defined in `websites.yml`.
However, before when there was similar problem with openhub, we put them into the css file.
So I think moving all the logo information to `websites.yml` will be nice.

[2018-10-28 03:31] kx-chen commented on #117
Correct me if I'm wrong, but it looks like most of the logos in the CSS have set width and height properties of around 35px (among other properties too). I believe we might need to set `.tooltip i` and `.tooltip img` width and height (and other properties) to those values too.

[2018-10-28 04:36] seeeturtle commented on #117
That will make it. And I believe fixed width and height is not a big matter.

[2018-10-28 09:33] ayan-b opened #120 "If user name is available, take user to the Sign Up page"
If a username is available, on clicking the icon it should take the user to the Sign Up page of the respective site.

[2018-10-29 06:28] kx-chen opened #122 "Update og:description to something better"
`<meta property="og:description" content="Find a unique username for teh interwebz">` in `status.html` could be improved on. This project deserves a better description than that. Newcomer issue.

[2018-10-29 06:31] kx-chen opened #123 "Move Javascript in html files to separate file"
Currently, the Javascript in `status.html` takes up a good amount of the file. As we add more features to the site, this size will inevitably grow. Move the Javascript out of the `script` tags and into a separate file. Preferably using whatever tools Flask offers to serve Javascript.

[2018-10-30 03:09] #38 closed

[2018-10-30 04:18] #37 closed

[2018-10-30 04:18] #110 closed

[2018-10-30 05:19] #40 closed

[2018-10-30 05:37] jayvdb commented on #111
Note that this task will mean we can remove a huge part of https://github.com/coala/coala/wiki/Google-Code-in-username

[2018-10-30 05:50] jayvdb commented on #120
Add a `signup:` key in `websites.yml` with the signup url, with url parameters as template variables, for a few sites.

Once a few are done, submit a PR.

Then we'll create new issues for adding signup support to the remainder of the websites, and other participants can help.

[2018-10-30 05:54] jayvdb opened #124 "Improve "Made with love ..""
The bottom bar which currently says "Made with love in New Delhi." is no longer accurate.

It should mention it is a built by Google Code-in mentors and students of the `@coala` org, from all around the world.

Maybe link to https://github.com/manu-chroma/username-availability-checker/graphs/contributors .

Feel free to do more UI design enhancements to the bottom bar only.

[2018-10-30 05:56] jayvdb opened #125 "Improve the website header"
Currently the header just says "Username Availability Checker" , and isnt aligned nicely.

Improve only the header, and be sure the modifications look nice on mobile as well as desktop.

[2018-10-30 05:57] manu-chroma commented on #104
i don't think anyone else uses the API best to my knowledge.

I think it would be a good idea to complete this. Then i can automate the heroku deployment process for every master successful merge and build.

[2018-10-30 06:22] jayvdb opened #126 "Add GitHub fork me ribbon"
https://gci-leaders.netlify.com/ has a nice fork me ribbon which can be copied.

[2018-10-30 06:29] kx-chen commented on #126
Correct me if I'm wrong, but doesn't this already have it? It only appears in the corner when searching for the availability of a username though.

[2018-10-30 06:34] jayvdb commented on #53
Could you clarify this task?

Is it similar to https://github.com/manu-chroma/username-availability-checker/issues/117 ?

[2018-10-30 08:07] gyanl commented on #124
Hahahaha reminds me of when @manu-chroma and I started the project one day. Definitely time for it to change though, go ahead!

[2018-10-31 02:08] kx-chen opened #130 "Fix CSS styling"
CSS in `static/css/main.css` has bad spacing after the `:` (separating the property from the style). Fix all the CSS rules to have a space after the `:`
Newcomer?

[2018-10-31 03:14] #111 closed

[2018-10-31 03:16] jayvdb commented on #130
Also add a rule to .coafile to enforce this, and add the linter to the CI environment

[2018-10-31 03:17] manu-chroma commented on #130
am I missing something in the css rule in https://github.com/manu-chroma/username-availability-checker/blob/master/.coafile

[2018-10-31 03:21] jayvdb commented on #130
Ya, we need a linter which does deep inspection of the .css contents ... I dont want to give away too many hints ;-)

[2018-10-31 07:48] jakethakur commented on #123
Hello, I've been working on this for GCI.

[2018-10-31 21:00] manu-chroma opened #132 "Move requests_toolbelt to requirements.txt"
Since it is not a test requirement and is actually used in the username_api source:

https://github.com/manu-chroma/username-availability-checker/blob/master/username_api.py#L8

[2018-10-31 23:51] seeeturtle commented on #132
@manu-chroma, the reason i did like that is because the result of it is actually used in test, not the server. you can know that from travis file.

[2018-11-01 03:11] jayvdb commented on #25
This needs to be re-evaluated.  Their data is being maintained. But maybe not as well as our data.

[2018-11-01 04:43] manu-chroma commented on #132
but you cannot run the server without installing test requirements. That's why it should be moved into main requirements

[2018-11-01 07:59] seeeturtle commented on #132
Then I think it should be only used when testing, not putting in `requirements.txt`

[2018-11-02 01:18] #115 closed

[2018-11-02 01:39] #130 closed

[2018-11-02 02:16] #120 closed

[2018-11-02 03:20] #53 closed

[2018-11-04 16:06] #116 closed

[2018-11-10 18:59] #126 closed

[2018-11-24 22:59] utkarsh2102 opened #142 "Not fetching the Twitter account picture"
Although the rest are working fine, Twitter is not working as it should.
Here's a screenshot:
![image](https://user-images.githubusercontent.com/31288318/48973666-944bdf00-f06a-11e8-9dab-f56532fa73ea.png)
It should get a clear profile picture, isn't it?

[2020-06-16 15:52] Khattak24 opened #145 "Some profiles return 200 status even profile not exist"
Hello sir is there any solution to tackle with this problem
Apps like tiktok, trello when i search user it return the status 200 but when i click on the link it shows 404 page not found of profile not exist.

[2020-06-25 00:42] seeeturtle commented on #145
@Khattak24
then you can just send another request to the link to check if it exists.
I don’t know how trello or tiktok act so im not sure it is best solution

[2020-09-19 17:15] aytekin opened #146 "twitter and istagram wrong"
when a send request twitter and instagram returns "this user dosn't exist" page and api say TAKEN. i guess api only check response's status code.